<?xml version="1.0"?>
<launch>
  
  <!-- Configurations -->
  <arg name="drone_name" default="esp_drone"/>
  <arg name="drone_ip_addr" default="192.168.43.42"/>
  <arg name="camera_info_file" default="$(find uavionics_dip_bringup)/config/esp_drone/camera_calib/ost.yaml"/>
  <arg name="visualize_output" default="true"/>
  <arg name="aruco_marker_size" default="0.16"/>
  <arg name="aruco_map_config_file" default="$(find uavionics_dip_bringup)/config/environment/aruco_maps/hall_map.yml"/>
  <arg name="marker_map_frame" default="aruco_map"/>
  <arg name="world_fixed_frame" default="map"/>

  <group ns="/$(arg drone_name)">

    <!-- Camera-related nodes to stream camera image from HTTP and republish using ROS image transport -->
    <node pkg="esp_drone_ros" type="drone_camera_streamer.py" name="camera_streamer" output="screen">
      <param name="drone_camera_info_file" type="string" value="$(arg camera_info_file)"/>
      <param name="drone_ip_addr" type="string" value="$(arg drone_ip_addr)"/>
    </node>

    <node pkg="esp_drone_ros" type="image_transport_republisher" name="image_transport_republisher" output="screen"/>

    <!-- Camera undistortion -->
    <node pkg="image_proc" type="image_proc" name="image_proc" output="screen"/>

  </group>

  <!-- ArUco mapping launch -->
  <include file="$(find aruco_ros)/launch/map.launch">
    <arg name="camera_name" value="$(arg drone_name)"/>
    <arg name="marker_size" value="$(arg aruco_marker_size)"/>
    <arg name="map_config" value="$(arg aruco_map_config_file)"/>
    <arg name="visualize" value="$(arg visualize_output)"/>
    <arg name="marker_map_frame" value="$(arg marker_map_frame)"/>
    <arg name="world_fixed_frame" value="$(arg world_fixed_frame)"/>
  </include>

</launch>