<?xml version="1.0"?>
<launch>

  <!-- Configurations -->
  <arg name="camera" default="camera/rgb"/>
  <arg name="aruco_marker_size" default="0.16"/>
  <arg name="aruco_map_config_file" default="$(find uavionics_dip_bringup)/config/environment/aruco_maps/hall_map.yml"/>
  <arg name="world_to_marker_map_tf" default="0 0 0 0.5 -0.5 -0.5 0.5"/>
  <arg name="visualize_output" default="true"/>

  <!-- Realsense R200 launch -->
  <include file="$(find realsense_camera)/launch/r200_nodelet_rgbd.launch"/>

  <!-- Static transform from world fixed frame to aruco marker map frame (required) -->
  <node pkg="tf" type="static_transform_publisher" name="world_to_marker_static_tf" args="$(arg world_to_marker_map_tf) map aruco_map 50"/>
  
  <!-- ArUco mapping launch -->
  <include file="$(find aruco_ros)/launch/map.launch">
    <arg name="camera_name" value="$(arg camera)"/>
    <arg name="marker_size" value="$(arg aruco_marker_size)" />
    <arg name="map_config" value="$(arg aruco_map_config_file)" />
    <arg name="visualize" value="$(arg visualize_output)"/>
  </include>

</launch>