<?xml version="1.0"?>
<launch>

  <!-- Configurations -->
  <arg name="marker_map_frame" default="aruco_map"/>
  <arg name="world_fixed_frame" default="map"/>
  <arg name="world_to_marker_map_tf" default="0 0 0 0.5 -0.5 -0.5 0.5"/>

  <!-- ESP-drone server -->
  <node pkg="espdrone_driver" type="espdrone_server.py" name="espdrone_server" output="screen"/>

  <!-- Static tf transform from world fixed frame to marker map frame -->
  <node pkg="tf" type="static_transform_publisher" name="world_to_marker_static_tf"
        args="$(arg world_to_marker_map_tf) $(arg world_fixed_frame) $(arg marker_map_frame) 50"/>

</launch>