<?xml version="1.0"?>
<launch>
  
  <!-- For notes on how to perform camera calibration, please refer to README.md -->
  
  <!-- Configurations -->
  <arg name="drone_name" default="espdrone"/>
  <arg name="drone_ip_addr" default="192.168.43.42"/>
  <arg name="checkerboard" default="7x9"/>
  <arg name="square_size" default="0.02"/>

  <!-- Camera streamer node -->
  <node pkg="espdrone_utils" type="simple_camera_streamer.py" name="camera_streamer" output="screen" ns="/$(arg drone_name)">
    <param name="drone_ip_addr" type="string" value="$(arg drone_ip_addr)"/>
  </node>

  <!-- ROS camera calibration node -->
  <node pkg="camera_calibration" type="cameracalibrator.py" name="camera_calibrator" output="screen"
        args="--size $(arg checkerboard) --square $(arg square_size) --no-service-check">
    <remap from="image" to="/$(arg drone_name)/camera_stream"/>
  </node>

</launch>