<?xml version="1.0"?>
<launch>
  <!-- Configurations for adaptive thresholding -->
  <arg name="window_size" default="45"/>
  <arg name="subtraction_const" default="-20"/>

  <!-- Image filtering for aruco -->
  <node pkg="aruco_mapping_filter" type="aruco_mapping_filter" name="aruco_mapping_filter" output="screen">
    <remap from="aruco_mapping_filter/camera/image_raw" to="image_rect"/>
    <remap from="aruco_mapping_filter/camera/image_raw_filtered" to="image_rect_filtered"/>
    <param name="window_size" type="int" value="$(arg window_size)"/>
    <param name="subtraction_const" type="int" value="$(arg subtraction_const)"/>
  </node>
 
</launch>
